<% provide(:title, "Contact") %>
<h1>El Container</h1>
<p>
  Contáctanos en:
  <a href="https://www.facebook.com/elcontaineruc/"> Facebook</a>
  <a href="https://www.instagram.com/tallerelcontainer/"> Instagram</a>
</p>
