<% provide(:title, "Help") %>
<h1>El Container</h1>
<p>
  ¿Necesitas ayuda? Revisa nuestras preguntas frecuentes.
  <a href="https://www.facebook.com/elcontaineruc/"> Facebook</a>
  <a href="https://www.instagram.com/tallerelcontainer/"> Instagram</a>
</p>
