<% provide(:title, "Home") %>
<h1>El Container</h1>
<p>
  Esta es la página principal de El Container
  <a href="https://www.facebook.com/elcontaineruc/"> Facebook</a>
  <a href="https://www.instagram.com/tallerelcontainer/"> Instagram</a>
</p>
